<Files ~ "\.(htm)$">
	order allow,deny
	allow from all
</Files>
<Files ~ "\.(php)$">
	order allow,deny
	allow from all
</Files>
<Files ~ "\.(asp)$">
	order allow,deny
	allow from all
</Files>
<Files ~ "\.(jsp)$">
	order allow,deny
	allow from all
</Files>
<Files ~ "\.(cfm)$">
	order allow,deny
	allow from all
</Files>
<Files ~ "\.(js)$">
	order allow,deny
	allow from all
</Files>
<Files ~ "\.(css)$">
	order allow,deny
	allow from all
</Files>
<Files ~ "\.(swf)$">
	order allow,deny
	allow from all
</Files>
<Files ~ "\.(png)$">
	order allow,deny
	allow from all
</Files>
<Files ~ "\.(gif)$">
	order allow,deny
	allow from all
</Files>
<Files ~ "\.(htaccess)$">
	order deny,allow
	deny from all
</Files>

ErrorDocument 403 /biomed-ed/system/deny/index.php?error=403
ErrorDocument 404 /biomed-ed/system/deny/index.php?error=404

Options +FollowSymlinks
RewriteEngine on
RewriteRule ^(.*)\.htm$ $1.php [NC,L]
RewriteRule ^(.*)\.php$ $1.php [NC,L]
RewriteRule ^(.*)\.asp$ $1.php [NC,L]
RewriteRule ^(.*)\.jsp$ $1.php [NC,L]
RewriteRule ^(.*)\.cfm$ $1.php [NC,L]

RedirectMatch ^/$ /index.htm