<Files ~ "\.(htm)$">
	order allow,deny
	allow from all
</Files>
<Files ~ "\.(php)$">
	order allow,deny
	allow from all
</Files>
<Files ~ "\.(asp)$">
	order allow,deny
	allow from all
</Files>
<Files ~ "\.(jsp)$">
	order allow,deny
	allow from all
</Files>
<Files ~ "\.(cfm)$">
	order allow,deny
	allow from all
</Files>
deny from all