/*
---------------------------------------------------------
(C) Copyright 2010 Apex Development - All Rights Reserved

This script may NOT be used, copied, modified, or
distributed in any way shape or form under any license:
open source, freeware, nor commercial/closed source.
---------------------------------------------------------
*/

/* Tool bar and menu options */
	a.bank {
		background:url(../images/common/bank.png) no-repeat left;
	}
	
	a.print {
		background:url(../images/common/print.png) no-repeat left;
	}
	
	a.calendar {
		background:url(../images/common/calendar.png) no-repeat left;
	}

/* Data table and table contents */
	.questionBank {
		background:url(../images/common/bank.png) no-repeat;
		background-position: 10px;
		padding: 1px 0px 1px 0px;
	}
	
	.extraCredit {
		background:url(../images/common/extraCredit.png) no-repeat left;
		padding:0px 8px 0px 8px;
	}

/* Navigate through a lesson */	
	span.currentPage {
		font-weight:bolder;
	}
	
	a.previousPage {
		background:url(../images/common/back.png) no-repeat left;
		padding-left:18px;
	}
	
	a.nextPage {
		background:url(../images/common/next.png) no-repeat right;
		padding-right:18px;
	}
	
	div.complete {
		border:#090 thin solid;
	}
	
/* Test structure */	
	span.questionNumber {
		font-size:14px;
		font-weight:bolder;
	}
	
	span.questionPoints {
		font-size:9px;
		font-weight:bolder;
	}
	
	span.checkmark {
		background:url(../images/common/checkmark.png) no-repeat left;
		padding-left: 23px;
	}
	
	span.x {
		background:url(../images/common/x.png) no-repeat left;
		padding-left: 23px;
	}
	
	tr.attention {
		background:#EBEBEB;
	}
	
	.calculate {
		background-color:transparent;
		border:none;
		text-align:center;
	}
	
	.good {
		color:#0F0;
	}
	
	.average {
		color:#333;
	}
	
	.bad {
		color:#F00;
	}
	
/* Learning unit progress */	
	span.notStarted {
		background:url(../images/common/x.png) no-repeat center;
	}
	
	span.completed {
		background:url(../images/common/checkmark.png) no-repeat center;
	}
	
	span.inProgress {
		background:url(../images/common/percent.png) no-repeat center;
	}
	
/* Misc. */
	a.smallDelete, span.smallDelete {
		background:url(../images/common/x.png) no-repeat center;
		cursor:pointer;
	}
	
	div.important {
		top:0px;
		width: 65px;
		position:fixed;
		right:50%;
		background-color:#900;
		color:#FFF;
	}