<Files ~ "\.(jpg)$">
  order allow,deny
  allow from all
</Files>
<Files ~ "\.(png)$">
  order allow,deny
  allow from all
</Files>
<Files ~ "\.(gif)$">
  order allow,deny
  allow from all
</Files>
<Files ~ "\.(ico)$">
  order allow,deny
  allow from all
</Files>
deny from all

ErrorDocument 403 http://localhost/biomed-ed/includes/access_deny.php
ErrorDocument 404 http://localhost/biomed-ed/includes/no_exist.php