/*
LICENSE: See "license.php" located at the root installation
*/

/* Universal declarations */
body {
	width:100%;
	height:100%;
	padding:0px;
	margin:0px;
	font-family:Arial, Helvetica, sans-serif;
}

h2 {
	font-size:18px;
}

a {
	text-decoration:underline;
	color:#666;
}

a:visited {
	text-decoration:underline;
	color:#666;
}

a:hover {
	text-decoration:none;
	color:#0C3;
}

img {
	border:0px;
}

/* Header */
div.tabMenu {
	width:100%;
	text-align:center;
	background:url(../../images/themes/green_screen/bar_background.png) top repeat-x;
	font:bold 12px Arial;
	border-bottom:1px solid #555;
	height:22px;
}

div.tabMenu a {
	text-decoration:none;
	color:#333;
	display:inline-block;
	background:url(../../images/themes/green_screen/tab_inactive.png) repeat-x top;
	border-right:1px solid #555;
	padding:3px 11px 0px 11px;
	height:20px;
}

div.tabMenu a.first, div.tabMenu span.first {
	border-left:1px solid #555;
}

div.tabMenu a:visited {
	color:#333;
}

div.tabMenu a:hover {
	color:#333;
	background-color:#327B2A;
	background:url(../../images/themes/green_screen/tab_hover.png) repeat-x top;
}

div.tabMenu a.current {
	color:#FFF;
	background-color:#50830F;
	background-image:none;
}

div.tabMenu a.current:hover {
	color:#FFF;
	background-color:#50830F;
	background-image:none;
}

div.tabMenu a.current:visited {
	color:#FFF;
	text-decoration:none;
	background-color:#50830F;
	background-image:none;
}

div.loginStatus {
	position:absolute;
	right:5px;
}

div.header {
	height:138px;
	background:url(../../images/themes/green_screen/header_background.png) top repeat-x;
	background-position:0px 22px;
}

div.header div.navigation {
	position:absolute;
	background-color:#CDEAFA;
	border-top:1px solid #555;
	border-bottom:1px solid #555;
	padding:5px 0px 5px 0px;
	width:100%;
	top:108px;
	text-align:center;
}

div.header div.navigation a {
	text-decoration:none;
	color:#333;
	padding:6px 11px 5px 11px;
	border-right:1px solid #555;
	height:20px;
}

div.header div.navigation a.current {
	border-bottom:1px solid #FFF;
	background-color:#FFF;
}

div.header div.navigation a.first {
	border-left:1px solid #555;
}

/* Sidebar */
div.sideBarLeft {
	max-width:275px;
	background:url(../../images/themes/green_screen/sidebar_left_background.png) top right repeat-y;
}

div.sideBarRight {
	max-width:275px;
	background:url(../../images/themes/green_screen/sidebar_right_background.png) top left repeat-y;
}

h2.boxTitle {
	text-align:center;
	font-size:16px;
}

div.sideBarLeft div {
	padding-bottom:5px;
	max-width:275px;
	font-size:12px;
	background:url(../../images/themes/green_screen/sidebar_divider_left.png) left bottom no-repeat;
}

div.sideBarRight div {
	padding-bottom:5px;
	width:275px;
	font-size:12px;
	padding-left:15px;
	background:url(../../images/themes/green_screen/sidebar_divider_right.png) left bottom no-repeat;
}

/* Content */
div.content {
	clear:both;
	height:100%;
	padding:0px 15px 0px 15px;
}

/* Footer */
div.footer {
	padding:20px 0px 0px 0px;
	margin-top:10px;
	width:100%;
	border-top:1px solid #555;
	background:url(../../images/themes/green_screen/footer_background.png) top repeat-x;
}

div.footer div.navigation {
	margin:0px 12% 0px 12%;
	text-align:center;
	padding-bottom:5px;
}

div.footer div.navigation p a {
	padding:0px 5px 0px 5px;
}

div.footer div.powered {
	text-align:left;
	position:absolute;
	width:45%;
	left:5px;
	font-size:10px;
}

div.footer div.text {
	text-align:right;
	position:absolute;
	width:45%;
	right:5px;
	font-size:10px;
}